@page "/"
@namespace TablerBlazorUI
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Tabler Blazor Theme</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.8.0/mapbox-gl.css" rel="stylesheet" />
    <link href="_content/Blazorise/blazorise.css" rel="stylesheet" />
    <link href="_content/Blazorise.Bootstrap/blazorise.bootstrap.css" rel="stylesheet" />
    <link href="_content/TablerBlazorUI/css/tabler.min.css" rel="stylesheet" />
    <link href="_content/TablerBlazorUI/css/demo.min.css" rel="stylesheet" />
    <base href="~/" />
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="Server" />
    </app>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <!-- EXTENSIONS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <script src="_content/Blazorise/blazorise.js"></script>
    <script src="_content/Blazorise.Bootstrap/blazorise.bootstrap.js"></script>
    <script src="_content/Blazorise.Charts/blazorise.charts.js"></script>
    <!-- Tabler Core -->
    <script src="_content/TablerBlazorUI/js/tabler.min.js"></script>
    <script src="_framework/blazor.server.js"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.8.0/mapbox-gl.js"></script>
    <!-- Tabler Core -->

    <script>
    
      document.addEventListener("DOMContentLoaded", function() {
      	mapboxgl.accessToken = 'pk.eyJ1IjoiY29kZWNhbG0iLCJhIjoiSzRiOVJvQSJ9.BUVkTT6IYs83xSUs4H7bjQ';
      	var map = new mapboxgl.Map({
      		container: 'map-simple',
      		style: 'mapbox://styles/mapbox/streets-v11',
      		zoom: 13,
      		center: [13.404900, 52.518827],
      	});
      });
      
    </script>
    <script>
     
      document.addEventListener("DOMContentLoaded", function() {
      	mapboxgl.accessToken = 'pk.eyJ1IjoiY29kZWNhbG0iLCJhIjoiSzRiOVJvQSJ9.BUVkTT6IYs83xSUs4H7bjQ';
      	var map = new mapboxgl.Map({
      		container: 'map-light',
      		style: 'mapbox://styles/mapbox/light-v10',
      		zoom: 11,
      		center: [-0.2416782, 51.5285582],
      	});
      });
     
    </script>
    <script>
  
      document.addEventListener("DOMContentLoaded", function() {
      	mapboxgl.accessToken = 'pk.eyJ1IjoiY29kZWNhbG0iLCJhIjoiSzRiOVJvQSJ9.BUVkTT6IYs83xSUs4H7bjQ';
      	var map = new mapboxgl.Map({
      		container: 'map-markers',
      		style: 'mapbox://styles/mapbox/light-v10',
      		zoom: 1,
      		center: [0, 0],
      	});
      	new mapboxgl.Marker({ color: "#206bc4" }).setLngLat([-58.666667, -34.58333333]).addTo(map);
      	new mapboxgl.Marker({ color: "#206bc4" }).setLngLat([16.366667, 48.2]).addTo(map);
      	new mapboxgl.Marker({ color: "#206bc4" }).setLngLat([116.383333, 39.91666667]).addTo(map);
      	new mapboxgl.Marker({ color: "#206bc4" }).setLngLat([149.133333, -35.26666667]).addTo(map);
      	new mapboxgl.Marker({ color: "#206bc4" }).setLngLat([58.583333, 23.61666667]).addTo(map);
      	new mapboxgl.Marker({ color: "#206bc4" }).setLngLat([-77, 38.883333]).addTo(map);
      });
      
    </script>
    <script>
     
      document.addEventListener("DOMContentLoaded", function() {
      	mapboxgl.accessToken = 'pk.eyJ1IjoiY29kZWNhbG0iLCJhIjoiSzRiOVJvQSJ9.BUVkTT6IYs83xSUs4H7bjQ';
      	var map = new mapboxgl.Map({
      		container: 'map-card',
      		style: 'mapbox://styles/mapbox/satellite-v9',
      		zoom: 1,
      		center: [0, 0],
      	});
      });
      
    </script>
</body>
</html>
